<div class="container">
  <h2>Karaoke songs</h2>
  <div class="table-container">
  <table st-table="main.displayedSongs" st-safe-src="main.songs" class="table table-striped">
    <thead>
      <tr>
        <th st-sort="title">title</th>
        <th st-sort="artist">artist</th>
        <th st-sort="track">track</th>
      </tr>
      <tr>
        <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
      </tr>
    </thead>
    <tbody vs-repeat vs-scroll-parent="window">
        <tr ng-repeat="row in main.displayedSongs">
          <td>{{row.title}}</td>
          <td>{{row.artist}}</td>
          <td>{{row.track}}</td>
        </tr>
    </tbody>
<!--     <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="main.itemsByPage" st-displayed-pages="7"></div>
        </td>
      </tr>
    </tfoot> -->
  </table>
  </div>
  <div ng-show="main.isLoading" class="loading-indicator"></div>
</div>